<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasteApps"
        tools:targetApi="31">
        <activity
            android:name=".aut.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.profile.pusat_bantuan.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.profile.kebijakan_privasi.KebijakanActivity"
            android:exported="false"
            android:label="@string/title_activity_kebijakan"
            android:theme="@style/Theme.WasteApps" />
        <activity
            android:name=".home.ui.profile.ubah_profile.UbahProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.WasteApps" />
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>